html,
body {
  background-color: #2B2F38;
  height: 100%;
  font-family: "Microsoft yahei";
}
.LubanLD-container {
  width: 100%;
  height: 100%;
}
.LubanLD-container header {
  height: 70px;
  background-color: #2B2F38;
  padding: 0 2px 0 10px;
  position: relative;
}
.LubanLD-container header .LubanLD-user {
  padding: 12px 0 0;
  font-size: 0;
}
.LubanLD-container header .LubanLD-user .LubanLD-head {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.LubanLD-container header .LubanLD-user .LubanLD-head .LubanLD-pic {
  display: inline-block;
}
.LubanLD-container header .LubanLD-user .LubanLD-head .LubanLD-pic img {
  border-radius: 50%;
}
.LubanLD-container header .LubanLD-user .LubanLD-username {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  margin-top: 17px;
}
.LubanLD-container header .LubanLD-user .LubanLD-username .name {
  margin-right: 10px;
}
.LubanLD-container header .main-navbar {
  width: 540px;
  padding: 0;
  box-sizing: border-box;
}
.LubanLD-container header .main-navbar .btn-control {
  margin-left: 7.2%;
  font-size: 0;
  height: 60px;
  padding-top: 10px;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-meter,
.LubanLD-container header .main-navbar .btn-control .btn-analysis {
  display: inline-block;
  margin: 0px 45px 0px 0;
  width: 50px;
  height: 60px;
  position: relative;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng.active,
.LubanLD-container header .main-navbar .btn-control .btn-changemng.active,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess.active,
.LubanLD-container header .main-navbar .btn-control .btn-meter.active,
.LubanLD-container header .main-navbar .btn-control .btn-analysis.active {
  text-decoration: none;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng.active::after,
.LubanLD-container header .main-navbar .btn-control .btn-changemng.active::after,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess.active::after,
.LubanLD-container header .main-navbar .btn-control .btn-meter.active::after,
.LubanLD-container header .main-navbar .btn-control .btn-analysis.active::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #FED928;
  position: absolute;
  left: 11px;
  bottom: 0px;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-meter,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-meter,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-meter,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-meter,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-meter {
  display: inline-block;
  width: 32px;
  height: 30px;
  margin-bottom: 5px;
  -webkit-background-size: 32px 30px;
  background-size: 32px 30px;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-projectmng {
  background: url(../imgs/projectmng/icon-nav.png) 0 0 no-repeat;
}
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-changemng {
  background: url(../imgs/projectmng/icon-nav.png) -32px 0 no-repeat;
}
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-qualityAssess {
  background: url(../imgs/projectmng/icon-nav.png) -64px 0 no-repeat;
}
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-meter {
  background: url(../imgs/projectmng/icon-nav.png) -96px 0 no-repeat;
}
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-analysis {
  background: url(../imgs/projectmng/icon-nav.png) -128px 0 no-repeat;
}
.LubanLD-container header .window-state {
  font-size: 0;
  cursor: default;
  width: 180px;
  position: absolute;
  top: 25px;
  right: 10px;
}
.LubanLD-container header .window-state .min_window,
.LubanLD-container header .window-state .max_window,
.LubanLD-container header .window-state .close_window {
  width: 28px;
  height: 20px;
  transition: all 0.2s ease-out;
}
.LubanLD-container header .window-state .min_window {
  margin-right: 6px;
  margin-left: 28%;
  background: url(../imgs/projectmng/icon-window.png) -1px 1px no-repeat;
}
.LubanLD-container header .window-state .min_window:hover {
  background: url(../imgs/projectmng/icon-window.png) -2px -23px no-repeat;
}
.LubanLD-container header .window-state .max_window {
  margin-right: 6px;
  background: url(../imgs/projectmng/icon-window.png) -33px 0 no-repeat;
}
.LubanLD-container header .window-state .max_window:hover {
  background: url(../imgs/projectmng/icon-window.png) -34px -23px no-repeat;
}
.LubanLD-container header .window-state .close_window {
  background: url(../imgs/projectmng/icon-window.png) -64px 0 no-repeat;
}
.LubanLD-container header .window-state .close_window:hover {
  background: url(../imgs/projectmng/icon-window.png) -65px -23px no-repeat;
}
.LubanLD-container .main-container {
  width: 100%;
  height: 100%;
  margin-bottom: 2px;
  overflow: hidden;
}
.LubanLD-container .main-container .menu-nav {
  width: 215px;
  float: left;
  margin-left: 1px;
  background-color: #fff;
  position: relative;
  overflow-x: visible;
}
.LubanLD-container .main-container .menu-nav .contract-manage {
  background-color: #EDEEF0;
  height: 100%;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap {
  height: 40px;
  padding-top: 10px;
  background-color: #fff;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select {
  margin: 0px 0 0 12px;
  font-size: 12px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .menu {
  width: 88px;
  height: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  border: 0 none;
  cursor: pointer;
  background-color: #fff;
  text-align: left;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .menu:focus {
  outline: none !important;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .menu .arrow {
  position: absolute;
  right: 4px;
  top: 5px;
  z-index: 10;
  width: 16px;
  height: 12px;
  background: url("../imgs/projectmng/icon-button.png") -72px -32px no-repeat;
  transition: all 0.5s ease-out;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .dropdown-menu {
  padding: 0;
  margin: 0;
  font-size: 12px;
  min-width: 100px;
  border: 0 none;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .dropdown-menu li a {
  padding: 3px 5px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search {
  height: 40px;
  border: 1px solid #DADBDF;
  padding: 3px;
  position: relative;
  font-size: 0;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .input-search {
  width: 100%;
  height: 32px;
  font-size: 11px;
  padding-left: 6px;
  color: #B3B3B3;
  border-radius: 4px;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .input-search:focus {
  outline: none;
  border: 1px solid rgba(93, 135, 209, 0.9);
  box-shadow: 0px 1px 1px #5D87D1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .btn-wrap,
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .clear {
  width: 28px;
  height: 30px;
  position: absolute;
  top: 4px;
  padding: 6px 5px;
  cursor: pointer;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .btn-wrap {
  right: 3px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .btn-wrap .btn-search {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../imgs/projectmng/icon-button.png") -36px -9px no-repeat;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .clear {
  right: 25px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .clear .btn-close {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../imgs/projectmng/icon-button.png") -54px -9px no-repeat;
}
.LubanLD-container .main-container .menu-nav .contract-manage .ztree .project-name {
  height: 46px;
  font-size: 0;
  padding-left: 4px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .ztree .project-name .icon-project {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url("../imgs/projectmng/icon-button.png") -1px -10px no-repeat;
  margin-right: 8px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .ztree .project-name span {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 46px;
  vertical-align: baseline;
}
.LubanLD-container .main-container .menu-nav .contract-manage .ztree .contract-name {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: 700;
  padding-left: 22px;
  border-left: 2px solid #EDEEF0;
  border-top: 1px solid #EDEEF0;
  border-bottom: 1px solid #EDEEF0;
}
.LubanLD-container .main-container .menu-nav .contract-manage .ztree .contract-name.active {
  border-top: 1px solid #DADBDD;
  border-bottom: 1px solid #DADBDD;
  border-left: 2px solid #FED928;
}
.LubanLD-container .main-container .menu-nav .btn-wrapper .btn-slide {
  width: 6px;
  height: 79px;
  background: url(../imgs/projectmng/icon-button.png) -184px -34px no-repeat;
  z-index: 100;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.LubanLD-container .main-container .menu-nav .btn-wrapper .btn-arrow {
  position: absolute;
  z-index: 101;
  width: 6px;
  height: 12px;
  background: url(../imgs/projectmng/icon-button.png) -114px -31px no-repeat;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-out;
}
.LubanLD-container .main-container .content-wrapper {
  float: left;
  height: 100%;
  margin-right: 1px;
  background-color: #fff;
}
.LubanLD-container .main-container .content-wrapper .top-navbar {
  height: 40px;
  background-color: #99A1AE;
  font-size: 0;
  padding-left: 5px;
}
.LubanLD-container .main-container .content-wrapper .top-navbar .tab {
  margin-top: 4px;
  display: inline-block;
  width: 110px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  line-height: 36px;
  height: 36px;
  margin-right: 3px;
}
.LubanLD-container .main-container .content-wrapper .top-navbar .tab:last-child {
  margin-right: 0;
}
.LubanLD-container .main-container .content-wrapper .top-navbar .tab.active {
  background-color: #fff;
  color: #000;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  text-decoration: none;
}
.LubanLD-container .main-container .content-wrapper .top-navbar .tab.active span {
  font-weight: 700;
}
.LubanLD-container .main-container .content-wrapper .contract-content {
  width: 100%;
  padding: 4px 4px 5px 3px;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content {
  border: 1px solid #E6E6E6;
  width: 100%;
  height: 100%;
  padding-left: 30px;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-name {
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  font-weight: 700;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate {
  font-size: 0;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button {
  font-size: 12px;
  background-color: #BDC4CE;
  border: 0 none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 6px 9px 7px 18px;
  margin-right: 20px;
  color: #fff;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button.active {
  background-color: #99A1AE;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button:focus {
  outline: none !important;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button:last-child {
  margin-right: 0;
}
